/* Navbar container styling */
.navbar {
    background-color: #2c734c;
  }
  
  /* Navbar link styling */
  .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
  }
  
  /* Highlight the active page */
  .navbar-nav .nav-item.active .nav-link {
    background-color: #0056b3;
    border-radius: 5px;
    padding: 10px;
  }
  
  /* Hover effect for navbar links */
  .navbar-nav .nav-link:hover {
    background-color: #0069d9;
    color: rgb(7, 90, 245);
    border-radius: 5px;
  }
  
  /* Logo styling */
  .navbar-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    

  }
  .navbar-nav{
    margin-left: auto !important;
  }  